<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="http://127.0.0.1:8000/api/house/new?ownerId=1" method="post" enctype="multipart/form-data">
        <h2>单图组上传</h2>
        <input type="file" name="house"></br>
        <input type="file" name="house"></br>
        <input type="file" name="house"></br>
        <input type="text" name="houseName">房源名称</br>
        <input type="text" name="houseType">房源类型</br>
        <input type="text" name="location">所在地</br>
        <input type="text" name="direction">朝向</br>
        <input type="text" name="floor">楼层</br>
        <input type="text" name="roomType">房屋类型</br>
        <input type="text" name="rent">租金</br>
        <input type="text" name="phone">电话</br>
        <input type="text" name="detail">细节</br>
        <input type="submit" value="提交">
    </form>
</body>
</html>
